.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*============= Selection component ==============*/

#selection {
  border: 1px solid gray;
  height: 90vh;
  margin: 30px 15px;
}

.option-container {
  margin: 3em 1em;
}

.img-selection {
  border-radius: 80%;
  width: 100%;
  height: 30vh;
}

.img-selection:hover {
  transform: scale(1.1);
}
